<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <button (click)="createShipper()" class="btn btn-sm btn-primary pull-left">
                                <mat-icon>add</mat-icon> Add New
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>#</th>
                                <th>Company Name</th>
                                <th>Phone</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shipper of shippers; let i = index">
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" (click)="openEditModal(shipper)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editShipperModal"><mat-icon>edit</mat-icon></a></li>
                                        <li><a href="#" (click)="deleteShipper(shipper._id)" class="btn btn-danger"><mat-icon>delete</mat-icon></a></li>
                                    </ul>
                                </td>
                                <td>{{ i + 1 }}</td>
                                <td>{{ shipper.companyname }}</td>
                                <td>{{ shipper.phone }}</td>
                                <td><img [src]="shipper.image" alt="{{ shipper.companyname }}" style="width: 50px; height: auto;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Shipper -->
<div class="modal fade" id="editShipperModal" tabindex="-1" aria-labelledby="editShipperLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75 custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="editShipperLabel">Edit Shipper</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white bg-dark p-4">
                <form (ngSubmit)="updateShipper()">
                    <!-- Company Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" [(ngModel)]="shipper.companyname" name="companyName" class="form-control" placeholder="Company Name" />
                        <label class="form-label" for="companyName">Company Name</label>
                    </div>

                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        <input type="tel" [(ngModel)]="shipper.phone" name="phone" class="form-control" placeholder="(555) 123-4567" />
                        <label class="form-label" for="phone">Phone</label>
                    </div>

                    <!-- Image upload field -->
                    <div class="form-outline mb-4">
                        <input type="file" (change)="onFileChange($event)" class="form-control" accept="image/*" />
                        <label class="form-label" for="imageUpload">Select new image</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-light">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
